{% load i18n bootstrap3 %}
<div class="form-group"
     data-richtext-preview-wrapper
     data-richtext-preview-url="{% url 'eventyay_admin:admin.editor.richtext.preview' %}">
    {% if layout == 'horizontal' %}
        <label class="col-md-3 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="col-md-9">
    {% else %}
        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div>
    {% endif %}
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a data-toggle="tab" href="#{{ field.auto_id }}_edit" aria-controls="{{ field.auto_id }}_edit">
                    <i class="fa fa-pencil-square-o fa-fw"></i> {% trans "Edit" %}
                </a>
            </li>
            <li role="presentation">
                <a data-toggle="tab"
                   href="#{{ field.auto_id }}_preview"
                   aria-controls="{{ field.auto_id }}_preview"
                   data-richtext-preview-tab>
                    <i class="fa fa-tv fa-fw"></i> {% trans "Preview" %}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="{{ field.auto_id }}_edit" class="tab-pane fade in active">
                {% bootstrap_field field show_label=False form_group_class="" %}
            </div>
            <div id="{{ field.auto_id }}_preview" class="tab-pane fade">
                <div class="richtext-preview-list" data-richtext-preview-list></div>
            </div>
        </div>
    </div>
</div>
