{% extends "eventyay_common/event/settings_base.html" %}
{% load i18n static %}
{% load bootstrap3 %}
{% block title %}{% trans "Clone event" %}{% endblock %}

{% block inside %}
<h1>{% trans "Clone event" %}</h1>

<div class="alert alert-info">
    {% trans "You can create a new event that is a copy of this event. Please enter a name, short form, and the new dates for the new event." %}
    <br><br>
    {% trans "By default, the following data is NOT cloned:" %}
    <ul>
        <li>{% trans "Orders, attendees, payments, invoices, check-ins" %}</li>
        <li>{% trans "Submitted proposals, reviews, accepted sessions" %}</li>
        <li>{% trans "Speaker accounts or profiles linked to submitted proposals" %}</li>
        <li>{% trans "Message history, logs, or any personal data" %}</li>
    </ul>
</div>

<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% bootstrap_form_errors form %}

    <fieldset>
        <legend>{% trans "New Event details" %}</legend>
        {% bootstrap_field form.name layout="horizontal" %}
        {% bootstrap_field form.slug layout="horizontal" %}
        {% bootstrap_field form.date_from layout="horizontal" %}
        {% bootstrap_field form.date_to layout="horizontal" %}
        {% bootstrap_field form.timezone layout="horizontal" %}
        {% bootstrap_field form.locale layout="horizontal" %}
    </fieldset>

    <fieldset>
        <legend>{% trans "Data to clone" %}</legend>
        
        <div class="clone-group panel panel-default">
            <div class="panel-heading" style="padding-bottom: 0;">
                {% bootstrap_field form.clone_common_data layout="horizontal" %}
            </div>
            <div class="panel-body clone-sub-options" style="background-color: #f9f9f9; border-top: 1px solid #eee;">
                {% bootstrap_field form.clone_settings layout="horizontal" %}
                {% bootstrap_field form.clone_design_texts layout="horizontal" %}
                {% bootstrap_field form.clone_email_settings layout="horizontal" %}
            </div>
        </div>

        <div class="clone-group panel panel-default">
            <div class="panel-heading" style="padding-bottom: 0;">
                {% bootstrap_field form.clone_ticketing_data layout="horizontal" %}
            </div>
            <div class="panel-body clone-sub-options" style="background-color: #f9f9f9; border-top: 1px solid #eee;">
                {% bootstrap_field form.clone_products layout="horizontal" %}
                {% bootstrap_field form.clone_questions layout="horizontal" %}
                {% bootstrap_field form.clone_checkin_lists layout="horizontal" %}
            </div>
        </div>

        <div class="clone-group panel panel-default">
            <div class="panel-heading" style="padding-bottom: 0;">
                {% bootstrap_field form.clone_talk_data layout="horizontal" %}
            </div>
            <div class="panel-body clone-sub-options" style="background-color: #f9f9f9; border-top: 1px solid #eee;">
                {% bootstrap_field form.clone_cfp layout="horizontal" %}
                {% bootstrap_field form.clone_session_types_tracks layout="horizontal" %}
                {% bootstrap_field form.clone_review_settings layout="horizontal" %}
            </div>
        </div>
    </fieldset>

    <div class="form-group submit-group">
        <button type="submit" class="btn btn-primary btn-save">
            {% trans "Clone event" %}
        </button>
        <a href="{% url 'eventyay_common:event.update' organizer=request.event.organizer.slug event=request.event.slug %}" class="btn btn-default btn-cancel">
            {% trans "Cancel" %}
        </a>
    </div>
</form>
{% endblock %}

{% block custom_js %}
{{ block.super }}
<script>
    $(function() {
        $('.clone-group').each(function() {
            var $group = $(this);
            var $parentCheckbox = $group.find('.panel-heading input[type=checkbox]');
            var $subCheckboxes = $group.find('.panel-body input[type=checkbox]');

            $parentCheckbox.on('change', function() {
                var isChecked = $(this).prop('checked');
                $subCheckboxes.prop('checked', isChecked);
            });

            $subCheckboxes.on('change', function() {
                var allUnchecked = $subCheckboxes.filter(':checked').length === 0;
                var allChecked = $subCheckboxes.filter(':not(:checked)').length === 0;
                
                if (allUnchecked) {
                    $parentCheckbox.prop('checked', false);
                } else {
                    $parentCheckbox.prop('checked', true);
                }
            });
        });
    });
</script>
{% endblock %}
